openapi: 3.0.0
info:
  title: Mirrulations API
  description: An API for retrieving regulatory docket information based on search terms.
  version: 1.0.0
servers:
  - url: https://api.mirrulations.org
    description: Production server
  - url: http://localhost:5000
    description: Local development server
paths:
  /search:
    get:
      summary: Search for regulatory dockets
      description: Retrieves a list of dockets related to the provided search terms, including statistics on term prevalence and comment data.
      parameters:
        - name: searchTerm
          in: query
          description: A single string to search the database with.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: the page number to query, between 0-9
          required: true
          schema:
            type: number
            default: 0
        - name: refreshResults
          in: query
          description: a boolean whether or not the query should be re-done
          required: true
          schema:
            type: boolean
            default: true
        - name: session-id
          in: header
          description: a JWT identifying the user
          required: true
          schema:
            type: string
        - name: sortParams
          in: query
          description: an object containing the sorting parameters for the query
          required: true
          schema:
            $ref: "#/components/schemas/sortParams"
        - name: filterParams
          in: query
          description: an object containing the filter parameters
          required: true
          schema:
            $ref: "#/components/schemas/filterParams"
      responses:
        '200':
          description: A list of dockets matching the search terms.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentPage:
                    type: integer
                    description: the current page of results,between 0-9
                    example: 1
                  totalPages:
                    type: integer
                    description: The total number of pages the query returned, capped at 10
                    example: 6
                  dockets:
                    type: array
                    items:
                      $ref: "#/components/schemas/docket"
        '400':
          description: Invalid request (e.g., missing or malformed parameters).
        '500':
          description: Internal server error.

  /agencies:
    get:
      description: returns a map of the agencies id to the name of the agencies
      responses:
        '200':
          description: returns a list of agencies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/agencies"
        '500':
          description: Internal server error.

components:
  schemas:
    docket:
      type: object
      properties:
        id:
          type: string
          example: DEA-2024-0059
        title:
          type: string
          example: "Schedules of Controlled Substances: Rescheduling of Marijuana"
        matchQuality:
          type: number
          format: float
          description: "Hasn't been implemented yet, will be 0.0 for the time being"
          example: 0.0
        comments:
          type: object
          properties:
            match:
              type: number
              description: comments that match the search term
              example: 70
            total:
              type: number
              description: total comments in docket
              example: 100
        agencyName:
          type: string
          description: name of agency that created the docket
          example: Department of State
        summary:
          type: string
          description: Null if no summary
          example: "Docket details IRAs tax changes for 2025"
        isRulemaking:
          type: boolean
          description: Whether the docket is rulemaking or non-rulemaking
          example: true
        timelineDates:
          type: object
          properties:
            dateModified:
              type: string
              description: date docket was last modified in ISO-8601
              example: "2022-05-14 11:58:01.456 -0400"
            dateCreated:
              type: string
              description: date docket was created in ISO-8601
              example: "2022-05-14 11:58:01.456 -0400"
            dateEffective:
              type: string
              description: date docket became effective in ISO-8601, can be null
              example: "2022-05-14 11:58:01.456 -0400"
            dateClosed:
              type: string
              description: date docket was closed in ISO-8601, can be null
              example: "2022-05-14 11:58:01.456 -0400"
            dateCommentsOpened:
              type: string
              description: date comments were opened on the docket in ISO-8601, can be null
              example: "2022-05-14 11:58:01.456 -0400"
        attachments:
          type: object
          properties:
            match:
              type: number
              description: attachments that match the search term
              example: 70
            total:
              type: number
              description: total attachments in docket
              example: 100

    sortParams:
      type: object
      properties:
        desc:
          type: boolean
          description: whether the results are ascending or descending
          default: true
          example: true
        sortType: 
          type: string
          description: one of ['dateModified', 'relevance', or 'alphaByTitle']
          default: 'relevance'
          example: 'relevance'
    filterParams:
      type: object
      properties:
        agencies: 
          type: array
          items: 
            type: string
          description: the agencies that are allowed, if empty all agencies are allowed. 
          example: ["NSA", "DOJ", "DOD"]
          default: []
        dateRange:
          type: object
          properties:
            start:
              type: string
              description: Date in the ISO-8601 format
              example: "2000-01-01 00:00:00.000 -0500"
              default: "1970-01-01 00:00:00.000 +0000"
            end:
              type: string
              description: Date in the ISO-8601 format
              example: "2025-03-18 00:00:00.000 -0400"
        docketType:
          type: string
          description: '"Rulemaking", "Nonrulemaking", or "" (empty string does both)'
          default: ""
          example: 'Rulemaking'
    agencies:
      type: object
      description: a map of agency id to its name
      example: {"DOD": "Department of Defense"}