name: code_quality

on: 
  pull_request:
    types: [opened, ready_for_review, synchronize]
  push:
    branches:
      '**' 

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Run Pylint on application code
        run: pylint --rcfile=tests/.pylintrc endpoints/

      - name: Run Pylint on tests
        run: pylint --rcfile=tests/.pylintrc tests/


